body {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.custom-file-input,
.custom-file-label {
  cursor: pointer;
}
.map-wrapper {
  position: relative;
}
.map {
  height: 100vh;
}
.map-panel {
  visibility: hidden;
  overflow-y: auto;
  padding: 2.4rem;
  opacity: 0;
  border-radius: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
  transition-delay: 0.5s;
  @media (min-width: 992px) {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 300px;
    max-height: calc(80vh - 60px);
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.loader {
  z-index: 10;
  visibility: hidden;
  padding: 2rem;
  text-align: center;
  opacity: 0;
  background-color: #fff;
  transition: 0.2s ease;
  @media (min-width: 992px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto 1rem;
  border: 3px solid #1882f9;
  border-left-color: #fff;
  border-radius: 50%;
  -webkit-transition: opacity 0.4s ease, visibility 0.5s ease;
          transition: opacity 0.4s ease, visibility 0.5s ease;
  -webkit-animation: spin 0.75s infinite linear;
          animation: spin 0.75s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.chart-wrapper {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: #fff;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  &.active {
    z-index: 15;
    visibility: visible;
    opacity: 1;
  }
}
.chart {
  position: relative;
  max-width: 700px;
  max-height: 700px;
  overflow: auto;
}
.chart-close {
  font-size: 1.6rem;
  position: fixed;
  z-index: 20;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
